<!DOCTYPE html>
<html>
  <head>
    <title>Server</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbo:authenticated" content="<%= user_signed_in? %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless turbo? %>
      <nav class="d-block">
        Web Navigation (hidden on mobile)
      </nav>
    <% end %>
    <p data-test="notice" class="notice"><%= notice %></p>
    <p data-test="alert" class="alert"><%= alert %></p>
    <%= link_to "Root", root_path %>
    <%= link_to "My Profile", pages_my_profile_path %>
    <% if current_user.present? %>
      <span data-test="current-user-email""><%= current_user.email %></span<>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, form_class: "d-inline" %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
